# Data Science Tools and Ecosystem

__Objectives:__  

- popular languages for Data Science

- commonly used libraries that data scientists use

- Some open source Data science tools

- evaluating arithmetic expressions in python

In this notebook data science tools and ecosystem will be summarized

Some popular languages  that data scientists use:

1. Python

2. R

3. SQL

4. C++

5. Java

Some commonly used libraries that data scientists use:

1. Numpy

2. Matplot

3. Pandas

4. tensorflow

| Data science tools|
| -------------------|
| Jupyter Notebook |
| Apache Spark |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in python

In [7]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [9]:
#this converts 200 minutes to houres by dividing by 60
200/60

3.3333333333333335

## Author
Ziyad alfikie